<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xinge.push.stub.android">
    <application>
        <meta-data
            android:name="com.xiaomi.mipush.sdk.appid"
            android:value="\${XIAOMI_APPID}" />
        <meta-data
            android:name="com.xiaomi.mipush.sdk.appkey"
            android:value="\${XIAOMI_APPKEY}" />

        <meta-data
            android:name="com.meizu.cloud.pushsdk.appid"
            android:value="\${MEIZU_APPID}" />
        <meta-data
            android:name="com.meizu.cloud.pushsdk.appkey"
            android:value="\${MEIZU_APPKEY}" />
    </application>
</manifest>
